<footer id="footer" class="navbar">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/copyright">Copyright &copy; 2013 Olivine Labs, LLC.</a></li>
      <li><a href="http://www.olivinelabs.com">Created by Olivine Labs</a></li>
      <li><a href="http://www.exoplay.io">Hosted on Exoplay</a></li>
    </ul>
  </div>
</footer>

